body {
    background-color: #f7f7f7; /* Change this to your desired background color */
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
.box {
  display: grid;
  padding: 200px;
}
/* Basic styling for the ticker container */
.ticker-container {
    overflow: hidden;
    position: relative;
    height: 40px; /* Adjust height as needed */
    background-color: #f7f7f7;
  }
  
  /* Styling for the ticker content */
  .ticker-content {
    white-space: nowrap;
    position: absolute;
    animation: ticker 15s linear infinite; /* Adjust duration as needed */
  }
  
  /* CSS animation for the ticker effect */
  @keyframes ticker {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Basic styling for the expandable table */
/* Basic styling for the expandable table */

.expandable-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .expandable-table th, .expandable-table td {
    transition: background-color 1s;
  }
  
  /* Styling for the expanded row content */
  .expanded-content {
    display: none;
    transition: max-height 1s ease-in-out;
    background-color: #f2f2f2;
  }
  .expanded-content.active {
    max-height: 100px; /* Adjust this value as needed */
  }
  
  /* portfolio chart graph */

   /* Additional custom styling */
   .chart-container {
    position: relative;
    height: 400px; /* Adjust the height as desired */
    max-width: 700px; /* Adjust the max-width as desired */
    margin: 0 auto;
  }
  body.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  .card.light-mode {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  .card-header.light-mode {
    background-color: #e9ecef;
    border-color: #e9ecef;
  }
  .chart-container.light-mode {
    border: 1px solid #e9ecef;
  }

  /* search bar css */

  #searchText {
    margin-right: 5px;
}
#searchContainer {
  display: flex;
  align-items: center;
}

  .flexible-iframe {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* This sets the aspect ratio to 16:9 (change as needed) */
    position: relative;
}

.flexible-iframe iframe {
    position: absolute;
    width: 100%;
    height: 50%;
    border: 0;
}
.form-group {
  display: flex; /* Use flex display to align items horizontally */
  align-items: center; 
}
.form-group h3{
  display: flex; /* Use flex display to align items horizontally */
  align-items: center; 
  color: #3498db;
}
