@tailwind base;
@tailwind components;
@tailwind utilities;

.card-width {
    width: 12rem; /* Set your desired fixed width here */
}
.portfolio-table{
    max-height: 400px; /* Set the maximum height you prefer */
    overflow-y: auto;
}

.table-height{
    max-height: 400px; /* Set the maximum height you prefer */
    overflow-y: auto;
}

#portfolio-table{
    max-height: 400px; /* Set the maximum height you prefer */
    overflow-y: auto;
}

.table-height{
    max-height: 400px; /* Set the maximum height you prefer */
    overflow-y: auto;
}